@model PeopleViewModel

<div class="row">
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <div class="col-md-12">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @Model.Message
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            </div>
        </div>
    }
    <div class="col-md-12">
        <a href="/home/add" class="btn btn-success">Add People</a>
        <table class="table table-hover table-bordered mt-3">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in Model.People)
                {
                    <tr>
                        <td>@person.FirstName</td>
                        <td>@person.LastName</td>
                        <td>@person.Age</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>